# Logs
logs
*.log
pnpm-debug.log*

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules

# extension
packages/extension/.wxt
packages/extension/.output

# docs
packages/docs/doc_build
